* {
  box-sizing: border-box;
  margin: 0;
}


body {
  font-family: 'Yeseva One';
  padding: 6.7rem 8.4rem 7.75rem;
  background-color: rgba(19, 19, 19, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 27.6rem 42.4rem;
  gap: 3.125rem;
}

.container__title {
  color: rgba(227, 184, 115, 1);
  font-weight: 400;
  font-size: 27px;
  max-width: 16rem;
}

.container__subtitle {
  color: rgba(227, 184, 115, 1);
  font-weight: 400;
  font-size: 18px;
}

.container__description {
  margin-top: 3.9rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 28rem;
  justify-content: start;
  height: 100%;
}

.container__contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.container__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container__box {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  max-width: 42.4rem;
  max-height: 34.5rem;
}

.container__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 623px;
  padding-bottom: 0.4rem;
}

.container__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

img {
  max-width: 679px;
  max-height: 483px;
}

.container__one-path {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.last {
  margin-top: 1rem;
}

.slider {
  position: relative;
  max-width: 679px;
  margin: auto;
}

.slider__images img {
  display: none;
  width: 100%;
}

.slider__images img.active {
  display: block;
}

.slider__controls {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.container__links a.activies {
  color: rgba(227, 184, 115, 1);
  border-bottom: 1.5px solid rgba(227, 184, 115, 1);
}


.slider__arrow {
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  width: 2rem;
}

.slider__dots {
  display: flex;
  gap: 1rem;
}

.slider__dots .dot {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.slider__dots .dot.active {
  background: rgb(255, 255, 255);
  width: 12px;
  height: 12px;
}